.pokecard {
  width: 300px;
  height: 300px;
  color: white;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;

}
.title {
  font-size: 30px;
  text-transform: capitalize;
  position: absolute;
  left: 40%;
}

.img {
  max-width: 150px;
  max-height: 150px;
}

.span {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border-bottom-right-radius: 100%;
  padding: 58px;
  position: absolute;
  left: 0;
  font-weight: 700;
  text-transform: capitalize;
}
.text {
  position: absolute;
  bottom: 0;
  color: white;
  left: 5%;
  text-transform: capitalize;
}

.imgspan {
  background-color: white;
  border-top-left-radius: 100%;
  padding: 5px;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110px;
  left: 110px;
  z-index: 1111;
}
