@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');

.water {
  background-color: #43ccff;
}
.fire {
  background-color: #e95c4d;
}
.grass {
  background-color: #00ca91;
}
.bug {
  background-color: #adef58;
}
.normal {
  background-color: #a5a5a5;
}
.ice {
  background-color: rgb(42, 218, 200);
}
.electric {
  background-color: rgb(240, 199, 17);
}
.ghost {
  background-color: rgb(55, 32, 77);
}
.psychic {
  background-color: rgb(102, 12, 187);
}
.rock {
  background-color: rgb(177, 117, 39);
}
.dragon {
  background-color: cadetblue;
}
.poison {
  background-color: rgb(5, 121, 50);
}
.ground {
  background-color: rgb(117, 85, 42);
}
.fairy {
  background-color: palevioletred;
}
.fighting {
  background-color: rgb(75, 40, 5);
}
.flying {
  background-color: rgb(178, 231, 247);
}
.dark {
  background-color: black;
}
.steel {
  background-color: gray;
}
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: white;
}
.content_search {
  background-color: white;
  width: 100%;
    /* margin: auto; */
  position: fixed;
  z-index: 10;
  margin-top: -75px;
  margin-left: -5px;
}
.inputsearch {
  border: 2px solid whitesmoke;
  width: 90%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  padding: 6px;
  margin-left: 4%;
  border-radius: 10px;
  margin-bottom: 15px;
}
.searchtitle {
  color: #686666;
  font-weight: 700;
  width: 100px;
  text-transform: uppercase;
  /* align-items: center; */
  margin: auto;
  margin-bottom: 6px;
  margin-top: 5px;
}

.contentcards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 75px;
}
